<% layout('layout') %>
<%- include('./includes/header.ejs') %>
<main class="main">
    <div class="error">
        <div class="error__title">
            <h2 class="heading-secondary heading-secondary--error">Something went wrong!!!</h2>
            <h2 class="heading-secondary heading-secondary--error"><%= message %></h2>
        </div>
    </div>
</main>
